part=xczu5eg-sfvc784-1-e

[hls]
flow_target=vivado
package.output.format=ip_catalog
package.output.syn=false
syn.top=fir
clock=10ns
syn.file=/home/rimurutempest/Code/LSI_Design_Contest/HLS_DesignFlow/Lab4/source/fir.c
syn.file=/home/rimurutempest/Code/LSI_Design_Contest/HLS_DesignFlow/Lab4/source/fir.h
# csim.data_file=/path/to/file
# cosim.data_file=/path/to/file
tb.cflags=-I/home/rimurutempest/Tool/Xilinx/Vitis/2024.2/include/legacy
tb.file=/home/rimurutempest/Code/LSI_Design_Contest/HLS_DesignFlow/Lab4/source/fir_test.c
syn.cflags=-I/home/rimurutempest/Tool/Xilinx/Vitis/2024.2/include/legacy