part=xc7z020clg400-1

[hls]
flow_target=vivado
package.output.format=ip_catalog
package.output.syn=false
syn.top=dct
syn.file=/home/rimurutempest/Code/LSI_Design_Contest/HLS_DesignFlow/Lab3/source/dct.c
syn.file=/home/rimurutempest/Code/LSI_Design_Contest/HLS_DesignFlow/Lab3/source/dct.h
tb.file=/home/rimurutempest/Code/LSI_Design_Contest/HLS_DesignFlow/Lab3/source/dct_test.c
clock=10ns
#syn.file.data=/home/rimurutempest/Code/LSI_Design_Contest/HLS_DesignFlow/Lab3/source/in.dat
#syn.file.data=/home/rimurutempest/Code/LSI_Design_Contest/HLS_DesignFlow/Lab3/source/out.golden.dat
csim.file=/path/to/in.dat
csim.file=/path/to/out.golden.dat
#cosim.file=/path/to/in.dat
#cosim.file=/path/to/out.golden.dat
#syn.directive.pipeline=dct_1d/DCT_Inner_Loop
#syn.directive.pipeline=dct_2d/Xpose_Row_Inner_Loop
#syn.directive.pipeline=dct_2d/Xpose_Col_Inner_Loop
#syn.directive.pipeline=read_data/RD_Loop_Col
#syn.directive.pipeline=write_data/WR_Loop_Col
#syn.directive.pipeline=dct_1d
#syn.directive.array_partition=dct buf_2d_in dim=2 type=complete
#syn.directive.array_partition=dct_2d col_inbuf dim=2 type=complete