# hls_config.cfg
part=xczu7ev-ffvc1156-2-e

[hls]
flow_target=vitis
# Source files
syn.file=gen/resblock_top.cpp
syn.file_cflags=gen/resblock_top.cpp,-Igen

# Testbench files
tb.file=test.cpp
tb.file_cflags=test.cpp,-Igen -Inon_gen

# Top function
syn.top=resblock_top

[csim]
# Setup any csim specific options here
