part=xc7z020clg400-1

[hls]
flow_target=vivado
package.output.format=ip_catalog
package.output.syn=false
syn.top=yuv_filter

# Headers first
syn.file=/home/rimurutempest/Code/LSI_Design_Contest/HLS_DesignFlow/Lab2/Source/image_aux.h
syn.file=/home/rimurutempest/Code/LSI_Design_Contest/HLS_DesignFlow/Lab2/Source/yuv_filter.h

# Source files next
syn.file=/home/rimurutempest/Code/LSI_Design_Contest/HLS_DesignFlow/Lab2/Source/image_aux.c
syn.file=/home/rimurutempest/Code/LSI_Design_Contest/HLS_DesignFlow/Lab2/Source/yuv_filter.c

# Testbench LAST
tb.file=/home/rimurutempest/Code/LSI_Design_Contest/HLS_DesignFlow/Lab2/Source/yuv_filter_test.c

clock=10ns
