# hls_config.cfg
part=xczu7ev-ffvc1156-2-e

[hls]
flow_target=vitis
# Source files
syn.file=gen/conv_only.cpp
syn.file_cflags=gen/conv_only.cpp,-Igen -DENABLE_MINI_TEST=0

# Testbench files
tb.file=test.cpp
tb.file_cflags=test.cpp,-Igen -Inon_gen -DENABLE_MINI_TEST=0

# Top function
syn.top=conv_only_top

[csim]
# Setup any csim specific options here
